/* body {
    background-color: darkorange;
  }
  
  h1 {
    color: darkslategray;
    text-align: center;
  }
  
  p {
    font-family: monospace;
    font-size: 20px;
  }
*/

body {
    background-color: #fc9; /* same as #ffcc99 */
  }
  
  h1 {
    color: #f0f; /* same as #ff00ff */
  }

  h2 {
    color: green; /* H1 is Green */
  }
  
  p {
    color: #ff471a; /* same as #bb5588 */
  }

  #absatz {
    color: slateblue; /* id=absatz is slateblue and a background color with darkturquoise */
    background-color: darkturquoise;
  }

  #color {
    font-size: 1.5em;
  }
